# Environment
.env
.env.global

# Windsurf
.windsurf/
.windsurfrules

# Vscode
.vscode/

# Local FFmpeg installation
bin/ffmpeg/

# Local Thumbnails
python/storage/thumbnails

# Personal notes
.notes/

# Testing tools (not part of project)
python/tests/*
